@font-face {
  font-family: 'DINCondensed';
  src: url('../fonts/DINCondensed.eot?#iefix') format('embedded-opentype'), url('../fonts/DINCondensed.otf') format('opentype'), url('../fonts/DINCondensed.woff') format('woff'), url('../fonts/DINCondensed.woff2') format('woff2'), url('../fonts/DINCondensed.ttf') format('truetype'), url('../fonts/DINCondensed.svg#DINCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
.pg-header {
  padding: 0;
  background-color: #f9f9f9;
}
.pg-header__nav {
  height: 68px;
  margin-bottom: 25px;
  background: #1a2791;
  color: #ffffff;
}
.pg-header__nav a {
  color: #ffffff;
}
.pg-header__nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
  font-size: 0;
}
.pg-header__nav-list li {
  display: inline-block;
}
.pg-header__nav-list > li {
  font-family: "DINCondensed", "Arial Narrow", Arial, sans-serif;
  font-size: 17.999996px;
}
.pg-header__nav-list > li > a {
  display: inline-block;
  vertical-align: middle;
  line-height: 68px;
  padding-left: 16px;
  padding-right: 16px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.pg-header__nav-list > li > a:hover {
  background-color: #ffdd00;
  margin-left: -2px;
  padding-left: 17px;
  padding-right: 17px;
}
.pg-header__nav-list > li > a::after {
  display: block;
  content: "";
  width: 2px;
  height: 14px;
  background-color: #ffdd00;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.pg-header__nav-list > li.active > a {
  background-color: #ffdd00;
  margin-left: -2px;
  padding-left: 17px;
  padding-right: 17px;
}
.pg-header__nav-list > li:first-child > a:hover .pg-header__nav-list > li:first-child.active > a:hover {
  margin-left: 0;
  padding-left: 16px;
  padding-right: 16px;
}
.pg-header__nav-list > li:last-child > a:after {
  display: none;
}
.pg-header__logo {
  display: block;
  padding-top: 10px;
}
.sidebar {
  width: 30%;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}
.catalog {
  margin-bottom: 30px;
}
.catalog__item {
  margin-bottom: 15px;
}
.catalog__item:hover a {
  color: #afb5e8;
}
.catalog__item-img {
  display: block;
  margin-bottom: 10px;
  height: 255px;
  line-height: 255px;
  text-align: center;
}
.catalog__item-img img {
  max-width: 100%;
}
.catalog__item-name {
  display: block;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
}
.catalog__item-name:hover {
  color: #afb5e8;
}
.catalog__item-name--promo {
  text-transform: uppercase;
}
.pg-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f9f9f9;
  font-size: 12.000002px;
}
.pg-footer__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 12.000002px;
  font-weight: normal;
}
.pg-footer__list {
  margin-bottom: 40px;
}
.pg-footer__item {
  margin-bottom: 10px;
}
.pg-footer__item a {
  display: inline-block;
  border-bottom: 2px solid #bbbbbb;
  text-decoration: none;
  line-height: 12.000002px;
  color: #000000;
}
.pg-footer__item a:hover {
  border-bottom-color: transparent;
}
.pg-footer__contacts {
  margin-left: 65px;
}
.pg-footer__contacts .pg-footer__title {
  margin-bottom: 25px;
  text-transform: none;
}
.pg-footer__contacts .pg-footer__item {
  margin-bottom: 15px;
}
.pg-footer__copyright {
  display: block;
  margin-top: 20px;
}
.pg-footer__social {
  margin-left: 65px;
}
.social__link {
  font-size: 31.999996px;
  color: #959595;
  text-decoration: none;
}
.main-content {
  padding-left: 0;
}
.banner--sidebar {
  padding: 30px;
  text-align: center;
}
.filter {
  padding-top: 20px;
  padding-bottom: 30px;
  background: #f9f9f9;
}
.filter label {
  font-weight: 400;
}
.filter__fieldset {
  padding-left: 30px;
  padding-right: 30px;
}
.filter__fieldset-inner {
  margin-bottom: 30px;
}
.filter__legend {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  border: none;
}
.filter__legend::after {
  font-family: "FontAwesome";
  content: "\f077";
  color: #1a2791;
  cursor: pointer;
  text-decoration: none;
}
.filter__legend--open::after {
  content: "\f078";
}
.filter__checkbox-label {
  display: block;
}
.filter__checkbox-input {
  display: none;
}
.filter__checkbox-custom {
  display: inline-block;
  position: relative;
  width: 13px;
  height: 13px;
  border: 1px solid #707070;
}
.filter__checkbox-input:checked ~ .filter__checkbox-custom {
  background: url(../img/checked.png) no-repeat 50% 50%;
}
.filter__counter {
  color: #ccc;
}
.filter__range-input {
  width: 63px;
  height: 28px;
  border: 1px solid #1a2791;
  padding-left: 5px;
}
.filter__range-input--first {
  margin-right: 15px;
}
.pg-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 19.999994px;
  font-family: "DINCondensed", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  color: #1a2791;
}
.cat-toggle {
  line-height: 14px;
}
.cat-toggle__view {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 14px;
  margin-left: 5px;
}
.cat-toggle__view--card {
  background: url(../img/toggle-card.png) no-repeat 0 0;
}
.cat-toggle__view--list {
  background: url(../img/toggle-list.png) no-repeat 0 0;
}
.cat-toggle__view--card.active {
  background: url(../img/toggle-card-active.png) no-repeat 0 0;
}
.cat-toggle__view--list.active {
  background: url(../img/toggle-list-active.png) no-repeat 0 0;
}
.sorter label {
  margin-left: 10px;
}
.breadcrumb {
  margin-bottom: 0;
  padding-left: 0;
  font-size: 12.000002px;
  border-radius: 0;
}
.breadcrumb a {
  display: inline-block;
  border-bottom: 2px solid #bbbbbb;
  text-decoration: none;
  color: #000000;
  line-height: 12.000002px;
}
.breadcrumb a:hover {
  border-bottom-color: transparent;
}
.breadcrumb .fa-home {
  font-size: 15.999998px;
}
.main-search {
  padding-left: 0;
}
.main-search .form-control {
  height: 40px;
  border: 2px solid #afb5e8;
  border-radius: 0;
}
.main-search .btn {
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: #afb5e8;
  color: #ffffff;
  font-size: 22.000006px;
}
.user {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 12.000002px;
}
.user a {
  line-height: 11.2px;
  color: #000000;
}
.user .fa {
  color: #1a2791;
}
.user .fa-user,
.user .fa-map-marker {
  font-size: 17.999996px;
}
.user__location-link {
  text-transform: uppercase;
}
.user__block-list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
}
.user__block-list li {
  display: inline-block;
}
.user__block-item {
  margin-left: 40px;
}
.cart {
  padding-top: 10px;
}
.cart__img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.cart__info {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 600;
}
.cart__info > * {
  display: block;
  line-height: 17.999996px;
}
.cart__amount {
  text-decoration: underline;
}
.cart__price--rub::after {
  display: inline-block;
  padding-left: 5px;
  font-family: "FontAwesome";
  font-weight: 400;
  content: "\f158";
}
.catlist {
  width: 30%;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}
.catlist__inner {
  background: #e7ecf4;
  color: #1a2791;
}
.catlist__title {
  position: relative;
}
.catlist__title > a {
  display: block;
  font-size: 24.000004px;
  line-height: 40px;
  font-family: "DINCondensed", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
}
.catlist__title > a:hover {
  color: #afb5e8;
}
.catlist__title.open > a {
  color: #afb5e8;
}
.catlist__title::after {
  display: block;
  font-family: "FontAwesome";
  content: "\f103";
  font-size: 24.000004px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.catlist__title.open::after {
  transform: translateY(-50%) rotate(180deg);
  -webkit-transform: translateY(-50%) rotate(180deg);
}
.catlist__title .dropdown-toggle {
  display: block;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 40px;
}
.catlist__title .dropdown-menu {
  border: 0;
  border-radius: 0;
  margin: 0;
  border-top: 2px solid #ffffff;
  box-shadow: none;
  background-color: #e7ecf4;
  width: 100%;
  padding-bottom: 15px;
}
.catlist__title .dropdown-menu > li > a {
  color: #1a2791;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
}
.catlist__title .dropdown-menu > li:hover > a {
  background-color: #f9f9f9;
}
.catlist__title .dropdown-menu > .active > a {
  background-color: transparent;
  color: #1a2791;
  font-weight: 700;
}
.catlist__title .dropdown-menu::after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-left: 160px solid transparent;
  border-right: 160px solid transparent;
  border-top: 55px solid #e7ecf4;
  position: absolute;
  left: 0;
  bottom: -55px;
}
.catlist__subtitle {
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 30px 0;
}
.btn-custom {
  position: relative;
  background: #1a2791;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "DINCondensed", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  height: 32px;
  line-height: 32px;
  text-align: right;
  padding: 0 20px;
}
.btn-custom--wide {
  width: 175px;
}
.btn-custom--gray {
  background: #cccccc;
}
.btn-custom::after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 7px solid #1a2791;
  position: absolute;
  right: -7px;
  top: 0;
  z-index: 50;
}
.btn-custom--gray::after {
  border-left-color: #cccccc;
}
.paginator {
  padding-left: 15px;
  color: #1a2791;
  font-size: 0;
}
.paginator__item {
  font-size: 12.000002px;
}
.paginator a {
  line-height: 12.000002px;
  display: inline-block;
  border-bottom: 2px solid #bbbbbb;
  text-decoration: none;
}
.paginator a:hover {
  border-bottom-color: transparent;
}
.select-custom {
  padding-left: 5px;
  padding-right: 25px;
  height: 19px;
  border: 1px solid #1a2791;
  font-size: 12.000002px;
  line-height: 19px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
.select-custom::-ms-expand {
  display: none;
}
