// main: style.less

a,
button,
input[type="submit"],
img{
  outline: none;
}
a:hover,
a:focus,
a:active,
.btn:hover,
.btn:focus,
.btn:active{
  outline: none;
  box-shadow: none;
}
a:hover{
  color: @color-info;
}
input[type="checkbox"],
input[type="radio"]{
  &:focus,
  &:active{
    outline: none;
  }
}
