@color-primary: #1a2791;
@color-info: #afb5e8;
@color-text: #000000;
@color-inverse: #ffffff;
@color-link: @color-primary;
@color-gray-light: #959595;
@color-gray: #333333;
@color-gray-lighter: #f9f9f9;
@color-decor: #ffdd00; //yellow

@ff: "Open Sans", Helvetica, Arial, sans-serif;
@ff-extra: "DINCondensed", "Arial Narrow", Arial, sans-serif;
@ff-icon: "FontAwesome";

@fs: 14px;
@fs-large: @fs * 1.285714;
@fs-small: @fs * 0.857143;
@fs-title: @fs * 1.428571;

@pad: 15px;
