@font-face {
  font-family: 'DINCondensed';
  src: url('DINCondensed.eot?#iefix') format('embedded-opentype'),  url('DINCondensed.otf')  format('opentype'),
	     url('DINCondensed.woff') format('woff'), url('DINCondensed.woff2') format('woff2'), url('DINCondensed.ttf')  format('truetype'), url('DINCondensed.svg#DINCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
