// main: ../style.less

.catalog {
  margin-bottom: 2 * @pad;

  &__item {
    margin-bottom: @pad;
    &:hover a{
      color: @color-info;
    }
  }

  &__item-img {
    display: block;
    margin-bottom: 10px;
    height: 255px;
    line-height: 255px;
    text-align: center;
    & img{
      max-width: 100%;
    }
  }

  &__item-name {
    display: block;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    &:hover{
      color: @color-info;
    }

    &--promo {
      text-transform: uppercase;
    }
  }
}
