// main: ../style.less

.filter {
  padding: @pad*2;
  background: @color-gray-lighter;
  &__block{
    & + &{
      margin-top: @pad/1.5;
    }
  }

  label {
    font-weight: 400;
  }
  &__counter{
    color: lighten(@color-text, 80%);
  }
  &__dropdown-toggle{
    display: inline-block;
    font-size: @fs*1.125;
    font-weight: 700;
    position: relative;
    &::after{
      font-family: @ff-icon;
      font-size: @fs*2;
      display: block;
      content: "\f107";
      position: absolute;
      right: -@fs*2;
      top: 0;
      transform: translate(-15%, -20%);
      -webkit-transform: translate(-15%, -20%);
      .active > &{
        content: "\f106";
      }
    }
  }
  &__checkbox{
    display: block;
    cursor: pointer;
    & input:focus,
    & input:active{
      outline: none;
    }
  }

  &__dropdown-block {
    margin-top: @pad/1.5;
    margin-bottom: @pad *2;
    display: none;
    .active &{
      display: block;
    }
  }

}
