// main: ../style.less

.filter {
  padding: @pad*2;
  background: @color-gray-lighter;
  &__block{
    & + &{
      margin-top: @pad/1.5;
    }
  }

  label {
    font-weight: 400;
  }
  &__counter{
    color: lighten(@color-text, 80%);
  }
  &__dropdown-toggle{
    display: inline-block;
    font-size: @fs*1.125;
    font-weight: 700;
    position: relative;
    &::after{
      font-family: @ff-icon;
      content: "\f078";
      font-size: @fs*1.125;
      display: block;
      position: absolute;
      right: -@fs*1.5;
      top: 0;
      .active > &{
        content: "\f077";
      }
    }
    .active > &{
      color: @color-info;
      text-decoration: none;
    }
    &:focus{
      color: @color-primary;
      text-decoration: underline;
      .active &{
        color: @color-info;
        text-decoration: none;
      }
    }
  }
  &__checkbox{
    display: block;
    cursor: pointer;
    & input:focus,
    & input:active{
      outline: none;
    }
  }

  &__dropdown-block {
    margin-top: @pad/1.5;
    margin-bottom: @pad *2;
    display: none;
    .active &{
      display: block;
    }
  }
  &__btn-group{
    margin-top: @pad;
    margin-left: -@pad*2;
  }
}
