// main: ../style.less

.goods-list {
  margin-bottom: @pad;

  &__item {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #cccccc;
  }

  &__name {
    padding-left: 0;
    padding-right: 0;

    a {
      display: block;
      overflow: hidden;
      vertical-align: top;
      padding-left: 5px;
      text-decoration: none;
      font-weight: 600;
    }
  }

  &__sale {
    display: block;
    float: left;
    vertical-align: top;
    margin-right: 5px;
    width: 28px;
    height: 28px;
    background: transparent url(../img/sale.png) no-repeat 0 0;
    color: @color-primary;
    font-size: @fs * 0.714286;
    text-align: center;
    padding-top: 5px;
  }
  &__price {
    margin-bottom: 10px;
  }
  &__old-price {
    margin-right: 5px;
    text-decoration: line-through;
  }
  &__new-price {
    font-size: @fs-large;
    font-weight: 700;
    color: @color-primary;
    .fa {
      color: @color-text;
    }
  }
  &__summ {
    margin-bottom: 5px;
    margin-right: -15px;
    font-weight: 700;
  }
  &__buy {
    line-height: 32px;
    margin-right: -15px;
    .btn-default {
      line-height: 0;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  &__box {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    width: 19px;
    height: 20px;
    background: url(../img/box.png) no-repeat 0 0;
    cursor: pointer;
  }
  &__scales {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    width: 17px;
    height: 17px;
    background: url(../img/scales.png) no-repeat 0 0;
    cursor: pointer;
  }
  &--mini {
    .goods-list {
      &__count,
      &__buy {
        display: none;
      }
      &__price,
      &__summ {
        margin-top: 10px;
      }
    }
  }
}
.goods {
  margin-bottom: @pad;
  > .row {
    margin-left: 0;
    margin-right: 0;
  }
  &__item {
    position: relative;
    border: 1px solid #cccccc;
    padding: 15px;
    margin-bottom: -1px;
    &:nth-child(2),
    &:nth-child(3){
      margin-left: -1px;
    }

    &:hover {
      z-index: 2;
      padding: 13px;
      border: 3px solid @color-info;
    }

    &--sale {
      .goods__img::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 70px;
        height: 50px;
        background: url(../img/sale50.png) no-repeat 0 0;
        z-index: 1;
      }
    }
    &--icon {
      .goods__img::after {
        content: "";
        position: absolute;
        top: 37px;
        right: 0;
        width: 70px;
        height: 63px;
        background: url(../img/icon.png) no-repeat 55% 70%,
        url(../img/icon-bg.png) no-repeat 0 0;
      }
    }
  }
  &__name {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    height: 40px;
    &:hover {
      color: @color-info;
    }
  }
  &__img {
    text-align: center;
    margin-bottom: 15px;
    position: relative;
  }
  &__price {
    margin-bottom: 10px;
  }
  &__old-price {
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    text-decoration: line-through;
  }
  &__new-price {
    font-size: @fs-large;
    font-weight: 700;
    color: @color-primary;
    .fa {
      color: @color-text;
    }
  }
  &__buy {
    line-height: 32px;
    margin-bottom: @pad;
  }
  &__box {
    float: left;
  }
  &__box-img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    width: 19px;
    height: 20px;
    background: url(../img/box.png) no-repeat 0 0;
  }
  &__scales {
    float: right;
  }
  &__scales-img {
    display: inline-block;
    margin-right: 4px;
    width: 17px;
    height: 17px;
    background: url(../img/scales.png) no-repeat 0 0;
  }
  &__footer {
    margin-left: -7px;
    margin-right: -7px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 20px;
    border-top: 1px solid #cccccc;
  }
  &__count {
    text-align: right;
    margin-bottom: @pad;
  }
  &__count-input {
    display: block;
    float: left;
  }
  &__summ {
    float: left;
    font-weight: 700;
    line-height: 33px;
    font-size: @fs * 1.142857;
  }
  &__btn {
    float: right;
    padding-top: 4px;
    padding-bottom: 4px;
    &:hover {
      background: @color-info;
    }
  }
  &--mini {
    .goods__footer {
      display: none;
    }
  }
}
