// main: ../style.less

.pg-header {
  padding: 0;
  background-color: @color-gray-lighter;

  @pgnav-height: 68px;

  &__nav {
    height: @pgnav-height;
    margin-bottom: 25px;
    background: @color-primary;
    color: @color-inverse;

    a {
      color: @color-inverse;
    }
  }
  &__nav-list {
    .ul-inline();
    text-align: right;
    font-size: 0;
  }

  &__nav-item {
    font-family: @ff-extra;
    font-size: @fs-large;

    &:last-child::after {
      content: "";
    }
    &.active > a{
      background-color: @color-decor;
    }

    a {
      display: inline-block;
      vertical-align: middle;
      line-height: @pgnav-height;
      padding-left: 14px;
      text-transform: uppercase;
      text-decoration: none;
      &:hover{
        background-color: @color-decor;
      }

      &::after {
        display: inline-block;
        padding-left: 14px;;
        content: "|";
        color: @color-decor;
        font-size: @fs-large;
      }
    }

  }

  &__logo{
    display: block;
    padding-top: @pad/1.5;
  }
}
