// main: ../style.less

.product-photo {
  padding-left: 20px;
  font-size: 0;

  &__big {
    margin-bottom: 10px;
  }

  &__small {
    display: inline-block;
    padding-right: 2px;
    cursor: pointer;
  }
}
