.sidebar {
  background: #e7ecf4;
  color: @color-primary;

  &__title {
    display: block;
    font-size: @fs * 1.714286;
    line-height: 40px;
    font-family: @ff-extra;
    text-transform: uppercase;

    a {
      display: block;
      padding-left: 20px;

      .fa-angle-double-down {
        padding-left: @pad *3;
      }
    }
  }

}
