// main: ../style.less
.sidebar {
  width: 30%;
  padding-left: @pad;
  padding-right: @pad;
  float: left;

  &__content {
    background: @color-gray-lighter;
    padding: 20px 30px;
  }

  &__title {
    font-size: @fs-large;
    padding-bottom: @pad;
  }
}
