// main: ../style.less

.carousel-slide {
  margin-bottom: @pad * 2;

  .carousel-indicators {
    bottom: 5px;
    margin-bottom: 0;

    li {
      width: 15px;
      height: 15px;
      border: none;
      background: @color-primary;

      &:hover {
        background: @color-info
      }

      &.active {
        background: @color-decor;
      }
    }
  }

  .carousel-control {
    background: none;
  }

  &__control {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: @color-primary;
    opacity: 1;
    position: absolute;
    top: 50%;
    margin-top: -12.5px;
    line-height: 25;
    text-align: center;
    font-size: 16px;
    color: @color-inverse;

    &--prev {
      left: 10px;
    }

    &--next {
      right: 10px;
    }
  }
}
