// main: ../style.less

.select-custom {
  padding-left: 5px;
  padding-right: 25px;
  height: 19px;
  border: 1px solid @color-primary;
  font-size: @fs-small;
  line-height: 19px;
  -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;

  &::-ms-expand {
  	display: none;
  }
}
