// main: ../style.less

.form-main {

  .control-label {
    padding-right: 0;
  }

  .form-control {
    border-radius: 0;
    border: 1px solid #cccccc;
    box-shadow: none;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .form-group {
    line-height: 32px;
  }
}
